<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navOndaPol" aria-controls="navOndaPol" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">OndaAPP</a>

  <div class="collapse navbar-collapse" id="navOndaPol">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" [routerLink]="['/administrador']">Administrador</a>
      </li>
    </ul>
    <ul class="navbar-nav pull-right  mt-2 mt-md-0">
      <li class="nav-item active btn btn-success navbar-btn" *ngIf="!isLogin">
        <a class="nav-link"[routerLink]="['/login']">Entrar</a>
      </li>
      <li class="nav-item btn btn-primary navbar-btn" *ngIf="!isLogin">
        <a class="nav-link" [routerLink]="['/registro']">Registrarse</a>
      </li>
      <li class="nav-item " *ngIf="isLogin">
        <img [src]="fotoUsuario" class="rounded-circle img-fluid">
      </li>
      <li class="nav-item " *ngIf="isLogin">
        <span class="nav-link"><small>{{ nombreUsuario }}</small></span>
      </li>
      <li class="nav-item active btn btn-danger navbar-btn " *ngIf="isLogin" (click)="logout()">
        <a class="nav-link">Salir</a>
      </li>
    </ul>
  </div>
</nav>
