<div class="row">
    <div class="col-md-6">
        <span routerLink="/home" class="btn btn-link">
            <i class="fa fa-arrow-circle-o-left"></i>Volver
        </span>

    </div>
</div>
<div class="row" *ngIf="noticia">
    <div class="col-md-4">
        <img class="card-img-top img-top" [src]="noticia.imagen | noimage" alt="Card image cap">
    </div>
    <div class="card mb-3 col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ noticia.titulo}}</h5>
            <p><small>{{ noticia.fecha | date }}</small></p>
            <p class="card-text">{{ noticia.contenido }}</p>
            <p class="card-text"><small class="text-muted">{{ noticia.nombreUsuario }}</small></p>
        </div>
    </div>
</div>