<div class="container main-container">
    <div class="row">
        <div class="col-md-6">
            <a href="" class="btn btn-link">
                <i class="fa fa-arrow-circle-o-left"></i>Volver
            </a>

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto mt-2">
            <div class="card">
                <div class="card-header">Editar Evento</div>
                <div class="card-body">
                    <form>

                        <div class="form-group">
                            <label for="titulo">Titulo</label>
                            <input type="text" name="titulo" id="titulo" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="contenido">contenido</label>
                            <textarea type="text" name="contenido" id="contenido" class="form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 ">
                                <label for="autor">Creado Por</label>
                                <input type="text" name="autor" id="autor" [value]="nombreUsuario" class="form-control" disabled>
                            </div>
                            <div class="form-group col-md-6 ">
                                <label for="file" class="custom-file-upload">Cargar imagen
                  <input type="file" name="file" class="form-control">
                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 d-none">
                            <label for="id_usuario"></label>
                            <input type="text" name="autor" id="id_usuario" class="form-control" [value]="idUsuario">
                        </div>
                        <div class="row text-center justify-content-around">
                            <div class="form-group  ">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-warning">Cancelar</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
{{ idNoticia }}