<div class="container main-container">

    <div class="row">

        <div class="col-md-12 text-center justify-content-between">

            <div class="btn-group mr-2" role="group" aria-label="admin menu noticias">
                <button type="button" class="btn btn-secondary " [routerLink]="['add_noticias']">Noticias</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="admin menu programacion">
                <button type="button" class="btn btn-secondary" [routerLink]="['add_programacion']">Programación</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="admin menu programacion">
                <button type="button" class="btn btn-secondary" [routerLink]="['add_ocupacion']">Ocupación del Local</button>
            </div>

        </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center justify-content-between" style="margin-top:40px">
        <router-outlet></router-outlet>
      </div>
    </div>


</div>
