.card {
    min-width: 300px;
    margin: 5px auto;
}

.text-fecha {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.text-editar {
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}