<div class="row" *ngIf="noticias">
    <div class="col-md-8">
        <div class="card bg-dark text-white">
            <img class="card-img" [src]="noticias[noticias.length - 1].imagen | noimage" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">{{ noticias[noticias.length - 1].titulo }}</h5>
                <p class="card-text">{{ noticias[noticias.length - 1].contenido | slice:0:200 }}</p>
                <p class="card-text text-right text-fecha">{{ noticias[noticias.length - 1].fecha | date }}</p>
                <span class="badge badge-pill badge-danger pull-left text-editar"> Editar</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-group">
            <div class="card" *ngFor="let noticia of noticias | slice:-3:-1">
                <img [src]="noticia.imagen | noimage" alt="imagen de noticia" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ noticia.titulo}}</h5>
                    <p class="card-text">{{ noticia.contenido | slice:0:200 }}...</p>
                    <p><small class="text-muted">{{noticia.nombreUsuario}}</small></p>
                    <span class="badge badge-pill badge-success pull-right"> + Info</span>
                    <span class="badge badge-pill badge-danger pull-right mr-2"> Editar</span>
                </div>
            </div>
        </div>
    </div>
</div>